.action-icon {
  animation-duration: 10s;
  animation-name: action-move;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  position: absolute;
}

.gcd {
	width: 3rem;
}

.ogcd {
	width: 2rem;
}

@keyframes action-move {
  from {
    transform: translateX(calc(100vw - 3rem));
  }
  
  to {
    transform: translateX(-3rem);
  }
}