body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}

html {
	height: 100vh;
	overflow: hidden;
	background-image: none;
	background-repeat: no-repeat;
}

.actions {
	padding-top: 1rem;
	background: linear-gradient(180deg, 
		rgba(0,0,0,0) calc(25% - 1px), 
        rgba(255,255,255,0.5) calc(25%), 
        rgba(0,0,0,0) calc(25% + 1px),
        rgba(0,0,0,0) calc(50% - 1px), 
        rgba(255,255,255,0.5) calc(50%), 
        rgba(0,0,0,0) calc(50% + 1px),
		rgba(0,0,0,0) calc(75% - 1px), 
        rgba(255,255,255,0.5) calc(75%), 
        rgba(0,0,0,0) calc(75% + 1px)
    );
	height: 3rem;
	padding-bottom: 1rem;
	background-color: rgba(20, 20, 20, 0.3);
	display: inline-block;
}

.container {
	display: flex;
	flex-direction: column;
}