.rotation-list {
	padding: 0 18px;
	background-color: rgba(80, 80, 80, 0.3);
	display: block;
}

.rotation-button {
	background-color: rgba(100, 100, 100, 0.3);
	color: rgba(255, 255, 255, 0.5);
	padding: 0.1em;
	width: 100vw;
	border: none;
	outline: none;
	transition: 0.4s;
	display: block;
}

.rotation-button.expanded, .rotation-button:hover {
	background-color: rgba(120, 120, 120, 0.3);
}

.rotation-button:after {
	content: '\25BC';
	font-size: 13px;
	color: rgb(119,119,119);
	float: right;
	margin-left: 5px;
}

.rotation-button.expanded:after {
	content: "\25B2";
}